# vim/emacs
*.sw[nop]
*~

/doc
/log
/locks
config/secrets.yml
config/database.yml
config/email.yml
config/s3.yml
config/newrelic.yml
config/god.conf
config/private.key
config/yandex_money.cer
config/yookassa-invitations-api-private-key.key
config/acme_key.pem
config/hominid.yml
config/gitlab_rsa
config/gitlab_rsa.pub
config/*.p12
db/schema.rb
db/schema_cache.yml
/tmp
.bundle
/.sass-cache
*.sublime-project
*.sublime-workspace
/nbproject
/test
public/stylesheets/debug.css
products.html
/public/price_item
public/system
public/images/products
public/images/articles
public/images/flags
public/images/collections
public/images/bills
/public/images/price_items
public/images/applications
public/images/first_step_channels
public/images/widget_types
public/images/logos
public/images/reviews
public/images/site_values
public/import
public/marketplace_imports
/public/assets
/public/packaged_assets
/public/served_assets
/public/files
/public/download/downloadable_files
/public/download/themes
/public/order_files
/public/tmp_order_files
public/themes_backups
public/remote_themes
public/marketplaces_xml_cache
html
.DS_Store
readme
license
usage
todo
.autospec
sh.exe.stackdump
Thumbs.db
/data
/coverage
routes.txt
/my_scripts
/.idea
dump.rdb
/assets.tgz
/ASSETS_VERSION
.byebug_history

/* remote rubocop configs, see: .rubocop.yml */
.rubocop-*
.tool-versions

vendor/assets/bower_components/jquery
vendor/assets/bower_components/typeahead.js/*
!vendor/assets/bower_components/typeahead.js/dist
vendor/assets/bower_components/tinymce/*
!vendor/assets/bower_components/tinymce/tinymce.jquery.min.js
!vendor/assets/bower_components/tinymce/tinymce.min.js
!vendor/assets/bower_components/tinymce/themes
!vendor/assets/bower_components/tinymce/plugins
!vendor/assets/bower_components/tinymce/skins
vendor/assets/bower_components/bootstrap-combobox/*
!vendor/assets/bower_components/bootstrap-combobox/js/
!vendor/assets/bower_components/bootstrap-combobox/css/
vendor/assets/bower_components/bootstrap-combobox/js/*
vendor/assets/bower_components/bootstrap-combobox/css/*
!vendor/assets/bower_components/bootstrap-combobox/js/bootstrap-combobox.js
!vendor/assets/bower_components/bootstrap-combobox/css/bootstrap-combobox.css

/spec/files/themes/*
!/spec/files/themes/*.zip

/.vagrant

1c/log/*

spec/files/sidekiq_server_log
spec/files/sidekiq_client_log

/public/packs
/public/packs-test
node_modules*
/local_gems
yarn-debug.log*
yarn-error.log*
.yarn-integrity
/tags
.env
.vscode
tep

# autogenerated, we use js version
/app/javascript/shared/utils/routes.d.ts

/crystalball_map.json

# yarn3
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
ci/.yarn/*
